



#colophon{
    background-color:black;
    width: 100%;
    height: 20%;
}

#colophon p{
justify-content: center;
align-items: center;
margin: 0 auto;

}


.site-info{
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto;

}





