.entry-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    background-color: rgba(165, 165, 165, 0.35);
    width: 50%;
    border-radius: 30px;
    text-align: justify;
}




.entry-title {
    display: flex;
    justify-content: center;
}


p {
    display: flex;
    font-family: oxanium;

}


#secondary p {
    display: flex;
    justify-content: center;
    text-align: center;
}


.site-title {
    display: flex;
    width: 18%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 18%;
}

.sous-titre{
    display: flex;
    justify-content: center;
    align-content: center;
    color:white;
    animation: animStitre 1.5s infinite;
   
}



@keyframes animStitre{
    0% {
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
        opacity: 0.3;

    }

    100% {
        text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
        opacity: 1;
      
    }
}

#primary-menu {
 
    justify-content: center;
   // margin-top: 5%;
}

@include mobile{

    body .custom-background{
        background-image: url(http://localhost:8888/siteSab/wp-content/uploads/2021/11/260016931_167694788879969_9089349859362275267_n.png) !important;
    }


    #primary-menu
    {
       position: relative;
    

   
    }

    .titleP{
        margin-top:10%;
    }

}






.footer__links {
    padding: 5% 5% 5% 5%;
}

.page-title {
  
    display: flex;
    justify-content: center;
    color: #FFFFFF;
    text-shadow: 1px 3px 0 #6f0ae2, 1px 13px 5px #6f0ae2;
    margin-top: 7%;
  
}

.menu-brands {
    color: #000;
    cursor: pointer;
    display: block;
    height: 45px;
    overflow: hidden;
    font: 600 16px/22px proxima-nova, Arial, sans-serif;
    letter-spacing: 1px;
    padding: 11px 13px;
    text-transform: uppercase;
    text-decoration: none;

}

.menu-brands.active {
    background-color: #000;
    color: #fff;
}


.menu-brands__track {
    display: flex;
    -ms-overflow-style: none;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    position: relative;
    scroll-behavior: auto;
}




.main-navigation {


    @include tablet {
        width: 100%;

        height: 15%;
    }

    @include desktop {
        width: 100%;

        height: 15%;
    }
}


