#contenuPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
    .sessionBloc{
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        width: 55%;
        border-radius: 30px;
        margin: 3% 0;
        background-color: rgba(165,165,165,0.35);
        
        &:hover,
        &:focus{
            transform: translateY(0);
            box-shadow:
            inset 0 0 60px whitesmoke,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;
        }
        
        h1{
            margin-bottom: 1em;
        }
        
        .fleche_cours{
            opacity: 0;
            position: absolute;
            top: 3.5em;
        }
        
        .coursBloc{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            width:100%;
            
            article{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 40%;
                padding: 0 5%;
                border-radius: 15px;
                background-color: rgba(165,165,165,0.35);
                overflow: scroll;
                position: relative;
                
                .infoCours{
                    display: flex;
                    opacity: 1;
                    flex-direction: column;
                    justify-content: space-around;
                    align-items: center;
                    text-align: center;
                    width: 100%;
                    padding: 5% 0;
                    h2{
                        font-size: 1em;
                    }
                    h3{
                        font-size: 0.8em;
                    }
                }

                .contenu_cours{
                    display: block;
                    position: absolute;
                    top: -10000px;
                    padding: 5%;           
                    p{
                        font-size: 1em;
                    }
                }

                &:hover{
                    width: 50%;
                    .infoCours{
                        opacity: 0;
                    }
                    .contenu_cours{
                        top: 0px;
                    }
                }
            }
        }
    }


    @include mobile {
        .sessionBloc{
            width: 90%;
            .fleche_cours{
                opacity: 1;
            }
            .coursBloc{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                align-items: center;
                flex-direction: column;
                clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
                max-height: 0;
                width: 90%;

                article{
                    width: 100%;
                    &:hover{
                        width: 100%;
                        .infoCours{
                            opacity: 0;
                        }
                        .contenu_cours{
                            top: 0px;
                        }
                    }
                }
            }
            &:hover,
            &:focus{
                .fleche_cours{
                    opacity: 0;
                }
                .coursBloc{
                    max-height: 1000px;
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }  
    }

    @include tablet {
        .sessionBloc{
            width: 75%;
        }
    }

    .sessionBloc,
    .fleche_cours,
    .coursBloc,
    article,
    .infoCours,
    .contenu_cours{
        transition: all .5s ease-in-out;
    }
}