////////////////////////////////FORMAT DESKTOP ETUDIANTS/////////////////////////////////////////

@include desktop{

    #site-navigation button {
        display: none;
        background: transparent;
    }

.conteneurE{
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 5%;
    justify-content: center;
    width:70%;
    overflow-x: scroll;
    background-color: rgba(165, 165, 165, 0.35);
  
    border-radius: 30px;
        .caroussel{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
            
            width: 200vw;
            
            .conteneur1{
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               //width: 18vw;
               justify-content: space-between;
              
                .info
                {
                    width: 100%;
                    padding: 40px;
    
                   p{
                       position: absolute;
                   }
                   h1{
                       position: absolute;
                       text-align: center;
                       width: 65%;
                       font-size: .8em;
                       bottom: 20%;
                       overflow-wrap: break-word;
                       visibility: hidden;
                   }
                   img{
                       width: 100%;
                       border-radius: 30px;
                       
                   }
                }
               
            }
           
            
        }
      
      }
    }

/////////////////FORMAT TABLETTE //////////////////////////////////////////


@include tablet{
    #site-navigation button {
        display: none;
        background: transparent;
    }


.conteneurE{
    display: block;
    margin: 0 auto;
    margin-bottom: 10%;
    margin-top: 5%;
    justify-content: center;
    width:70%;
    overflow-x: scroll;
    background-color: rgba(165, 165, 165, 0.35);
  
    border-radius: 30px;
        .caroussel{
            display: grid;
            grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto;
            
            width: 200vw;
            
            .conteneur1{
               display: flex;
               justify-content: center;
               align-items: center;
               position: relative;
               width: 23vw;
               justify-content: space-between;
              
                .info
                {
                    width: 100%;
                    padding: 40px;
    
                   p{
                       position: absolute;
                   }
                   h1{
                       position: absolute;
                       text-align: center;
                       width: 65%;
                       font-size: .8em;
                       bottom: 20%;
                       overflow-wrap: break-word;
                       visibility: hidden;
                   }
                   img{
                       width: 100%;
                       border-radius: 30px;
                       
                   }
                }
               
            }
           
            
        }
      
      }


    }



  
 ///////////////////FORMAT MOBILE ETUDIANTS///////////////////////////////////
    @include mobile {

        .fleche {
            display: none;
        }


        body.custom-background
          {
            background-image: url(http://localhost:8888/siteSab/wp-content/uploads/2021/11/260016931_167694788879969_9089349859362275267_n.png);
          }


        .conteneurE{
          display: block;
          margin: 0 auto;
          margin-bottom: 10%;
          margin-top: 5%;
          justify-content: center;
          width:70%;
          overflow-y: scroll;
          background-color: rgba(165, 165, 165, 0.35);
        
          border-radius: 30px;
              .caroussel{
                  display: grid;
                  grid-template-columns:   auto auto auto auto auto auto auto auto;
                  //width: 100% ;
                  margin: 0 auto;
                  
                  .conteneur1{
                     display: flex;
                     justify-content: center;
                     align-items: center;
                     position: relative;
                     width: 65vw;
                     justify-content: space-between;
                    
                      .info
                      {
                          width: 100%;
                          padding: 40px;
          
                         p{
                             position: absolute;
                         }
                         h1{
                             position: absolute;
                             text-align: center;
                             width: 65%;
                             font-size: .8em;
                             bottom: 20%;
                             overflow-wrap: break-word;
                             visibility: hidden;
                         }
                         img{
                             width: 100%;
                             border-radius: 30px;
                             
                         }
                      }
                   
                  }
                 
                  
              } 

       
    }
    }
    
 
///////////HOVER CONTENU TOUT FORMATS /////////////////////////////////////////


    .conteneurE:hover {
        transform: translateY(0);
        box-shadow:
            inset 0 0 60px whitesmoke,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;

          
    }
    
   
    