/*.futur-stage  {
    figure {
        border-radius: 20px;
    }
}
*/
/*
ul.liste li {
    font-family: oxanium;
    /* margin-left: -20%; 
    text-align: left;
    justify-content: left;
}*/

/*a {
    text-decoration: underline;
    color: #d3e2ff;
}

a:hover {
    color: rgb(157, 189, 255);
}

.université, .imgUni {
    border-radius: 20px;
    ul {
        figure {
        border-radius: 20px;
        }
    }  
}

.liste,  .liste li, li a {
    font-family: oxanium;
    align-items: left;
}

.titre {
    text-decoration: underline;
}*/

.entry-meta{
    visibility: hidden;
}

.entry-footer{
    visibility: hidden;
}