

.headerPage
{


.site-title {
    display: flex;
    width: 10%;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    margin-top: 10%;
}

.sous-titre{
    display: flex;
    justify-content: center;
    align-content: center;
    color:white;
    animation: animStitre 1.5s infinite;
   
}

#primary-menu {
 
    justify-content: center;
    //margin-top: 2%;
}



.page-title{
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

}


.prof{
    display: block;
    margin: 0 auto;
    justify-content: center;
    width:70%;
    margin-bottom: 10%;
    margin-top: 5%;
    overflow-x: scroll;
    background-color: rgba(165, 165, 165, 0.35);
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 30px;
     
   

    img{
        margin:20px;
        border-radius:30px;
    }

        .imgProf{
           
            display: flex;
            margin:20px;
            justify-content: center;
            justify-content: space-between;
            width:300px;
            height: 300px;
        }
    }

    .proff{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #FFFFFF;
        text-shadow: 1px 3px 0 #6f0ae2, 1px 13px 5px #6f0ae2;
    }



    .prof:hover {
        transform: translateY(0);
        box-shadow:
            inset 0 0 60px whitesmoke,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;
    }



    body .custom-background{
        //background-image: url(http://eddym8.sg-host.com/wp-content/uploads/2021/09/YoSPER.jpg);
        background-image: url(http://localhost:8888/siteSab/wp-content/uploads/2021/09/YoSPER.jpg);
    
    }
   
    body{
        //background-image: url( http://eddym8.sg-host.com/wp-content/uploads/2021/09/YoSPER.jpg);
        background-image: url( http://localhost:8888/siteSab/wp-content/uploads/2021/09/YoSPER.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }



    //////////////////////FORMAT MOBILE///////////////////////////////////
@include mobile
{
    .site-title {
        display: flex;
        width: 10%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        margin-top: 60%  !important;
    }


    .titleE{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-top:15%;
        margin-bottom:30%;
        color: #FFFFFF;
        text-shadow: 1px 3px 0 #6f0ae2, 1px 13px 5px #6f0ae2;
    }
    

    .page-title{
        color: #FFFFFF;
        text-shadow: 1px 3px 0 #6f0ae2, 1px 13px 5px #6f0ae2;
        margin-top:15%;
        margin-bottom:30%;
    }


    .titleP{
        color: #FFFFFF;
        text-shadow: 1px 3px 0 #6f0ae2, 1px 13px 5px #6f0ae2;
        margin-top:15%;
        margin-bottom:30%;
    }


    body {
       
      // background-image: url(http://eddym8.sg-host.com/wp-content/uploads/2021/12/260016931_167694788879969_9089349859362275267_n-261x1024-1.png);
        background-image: url(http://localhost:8888/siteSab/wp-content/uploads/2021/11/260016931_167694788879969_9089349859362275267_n.png);
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
   
   
    }

    .main-navigation a {
        text-align: center;
		color: #7f2dff;
		background-color: rgba(165, 165, 165, 0.35);
		text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #64aafa, 0 0 30px #64aafa, 0 0 40px #64aafa, 0 0 55px #64aafa, 0 0 75px #64aafa;
    }
    
   

    
    .headerPage .site-title {
        display: flex;
        width: 10%;
        justify-content: center;
        align-content: center;
        margin: 0 auto;
        margin-top: 50%;
    }

    .site-title{
        display: flex;
        width:50%;
        justify-content: center;
        align-content:center;
        margin:0 auto;
        margin-top:65%;
    }
    
    .prof{
    display: block;
    margin: 0 auto;
    justify-content: center;
    width:70%;
    margin-bottom: 10%;
    margin-top: 5%;
    overflow-x: scroll;
    background-color: rgba(165, 165, 165, 0.35);
    grid-template-columns: auto auto auto auto auto auto;
    border-radius: 30px;
     
    img{
        margin:20px;
        border-radius:30px;
    }

        .imgProf{
           
            display: flex;
            margin:30px;
            justify-content: center;
            justify-content: space-between;
            width:350px;
            height: 350px;
        }
    }

#secondary{
    margin-top:50%;
}



.fleche{
    display: none !important;
    //visibility: hidden;
   
}

}
    .proff{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 8%;
    
    }


    

    .headerFleche
    {
       
    display: none;
    visibility: hidden;
	

    }



    .fleche {
        display: flex;
        padding-top: 3%;
        //margin-bottom: 10%;
        justify-content: center;
        margin: 0 auto;
        align-content: center;
        align-items:center;
        background-color: transparent;
        border: none;
        display: none !important;
        
    }



    .headerST{

    
        display: none !important;
    

}



.archive-description{
p{
    display: flex;
    justify-content: center;
}
}