#contenuPage{
	position: relative;

	#grandParent{
		width: 70%;
		position: relative;

		.conteneurP{
			z-index: 1;
			display: flex;
			flex-direction: row;
			width:100%;
			background-color: rgba(165, 165, 165, 0.35);
			overflow-x: hidden;
			border-radius: 30px;
			
			nav.boutton {
				font-size: 5vw;
				display: flex;
				z-index: 1;
				position: absolute;
				flex-direction: row;
				justify-content: space-between;
				pointer-events: none;
				width: 120%;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				
				a{
					pointer-events: initial;
					transition: all 0.5s ease-in-out;
					padding: 5px;
					border: transparent 3px solid;
					border-radius: 20px;
				}
				
				a:hover{
					transform: translateY(-3px);
					z-index: 2;
					border: whitesmoke 3px solid;
					border-radius: 20px;
					cursor: pointer;
				}
			}
			.caroussel{
				display: grid;
				position: relative;
				grid-template-columns: 17.5vw 17.5vw 17.5vw 17.5vw;
				grid-template-rows: calc(100%/3) calc(100%/3) calc(100%/3);
				width: 100%;
				justify-content: center;
				align-items: center;
				transition: transform 1s ease-in-out;
				overflow-y: clip;

				.conteneur1{
					display: flex;
					justify-content: center;
					align-items: center;
					position: static;
					width: 17.5vw;
					height: 100%;
					
					.info
					{
						position: relative;
						padding: 8%;
						width: 100%;
						p{
							position: absolute;
						}
						h1{
							transition: opacity 1s ease-in-out;	
							opacity: 0;
							position: absolute;
							margin: 0;
							text-align: center;
							width: 100%;
							padding: 10%;
							font-size: 1.2rem;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							text-shadow: 0 3px 0 #6f0ae2, 0 0.5em 5px #6f0ae2;
						}

						img{

							border-radius: 20px;
							width: 100%;
						}

						&:hover h1{
							opacity: 1;
						}
					}
					.contenu{
						display: none;
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 100%;
						height: 95%;
						border-radius: 20px;
						background-color: rgb(165, 165, 165);
						z-index: 10;
						overflow-y: auto;
						
						a{
							z-index: 100;
							position: absolute;
							top: 2%;
							right: 5%;
							font-size: 3em;
							text-decoration: none;
							border-radius: 20px;
							cursor: pointer;
							
						}
	
						&.displayed{
							display: block;
							padding: 10px;
	
							span img{
								position: absolute;
								height: 100%;
								width: auto;
								top: 50%;
								left: 50%;
								border-radius: 20px;
								transform: translate(-50%, -50%);
							}
							
							div{
								display: grid;
								height: 100%;
								grid-template-columns: 1fr 1fr;
								grid-template-areas: 
								"title title"
								"image text";
								gap: 5%;
								
								h2{
									text-align: center;
									justify-self: center;
									text-shadow: 0 3px 0 #6f0ae2, 0 0.5em 5px #6f0ae2;
									grid-area: title;
								}
								
								img{
									grid-area: image;
									width: 100%;
								}
								
								p{
									grid-area: text;
								}

								figure{
									grid-area: image;
								}
							}
	
						}
					}
				}			
			}
			
		}
	}
	
}

@include mobile{
	#next,
	#prev {
		visibility: hidden;
	}

	#contenuPage{
		#grandParent{
			width: 90%;			

			nav.boutton{
				display: none;
			}

			.conteneurP{
				flex-direction: column ;
				height: 80vh;

				.caroussel{
					display: flex;
					flex-direction: column;
					overflow-y: visible;
					transform: translateX(0) ;
							
					.conteneur1{
						width: 100%;
						height: fit-content;
						position: relative;
						.info{
							h1{
								font-size: 2em;
							}
							&:focus h1{
								opacity: 0;
							}
						}

						.contenu{
							position: absolute;
							top: 0;
							left: 0;
							transform: translate(0, 0);	

							&.displayed{
								span img{
									position: absolute;
									top: 0;
									left: 0;
									transform: translate(0, 0);	
									height: auto;
									width: 100%;
								}
	
								div{
	
									height: 70vh;
									grid-template-areas: 
									"title title"
									"image image"
									"text text";
								}
														
								&.etudiant{
									display: none;
								}
							}
						}
					}
				}
			}
		}
	}
}


.conteneurP:hover {
    box-shadow:
        inset 0 0 60px whitesmoke,
        inset 20px 0 80px #f0f,
        inset -20px 0 80px #0ff,
        inset 20px 0 300px #f0f,
        inset -20px 0 300px #0ff,
        0 0 50px #fff,
        -10px 0 80px #f0f,
        10px 0 80px #0ff;
}