


//////////////////////////FORMAT DESKTOP////////////////////////////////////////////////

@include desktop{

    .wp-block-group__inner-container
    {
       
      
    
    
        .blocks-gallery-grid 
        {
            background-color: rgba(165, 165, 165, 0.35); 
            border-radius: 30px;
            padding:5%;
        
    
        .blocks-gallery-item
        {
            img
                {
                   border-radius: 20px;
                  
                }
                figcaption{
                    border-radius: 20px; 
                    -webkit-transform: scale(1);
                    transform: scale(1);
                   -webkit-transition: .3s ease-in-out;
                  transition: .3s ease-in-out;
                }
        }
        }
    
       
    
        .wp-image-1006
        {
         
        }
        .wp-image-1006:hover
        {
         
        }
    
    
    
    
    }
    
    .wp-block-group{
    
    }
    
    #secondary{
        margin-top:8%;
    }
    
    .wp-image-1006
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-1006:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-1007
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-1007:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-1057
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-1057:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-1003
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-1003:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-1002
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-1002:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-995
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-995:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-996
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-996:hover
    {
        -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    
    .wp-image-997
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-997:hover
    {
        -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    
    .wp-image-998
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-998:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-994
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-994:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-993
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-993:hover
    {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg);
    }
    
    .wp-image-992
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-992:hover
    {
        -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    
    .wp-image-991
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-991:hover
    {
        -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    .wp-image-990
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-990:hover
    {
        -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    
    .wp-image-989
    {
        -webkit-transition: all 0.5s ease;
        transition: all 0.5s ease;
        
    }
    .wp-image-989:hover
    {
        -webkit-transform: rotate(-10deg);
      transform: rotate(-10deg);
    }
    
    
    
    }
    
    //////////////////////////FORMAT TABLETTE////////////////////////////////////////////////
    
    
    
    
    @include tablet{
    
        .wp-block-group__inner-container
        {
           
          
            .blocks-gallery-grid 
            {
                width: 100%;
                display: grid;
                grid-template-columns: auto auto auto;
                
                background-color: rgba(165, 165, 165, 0.35); 
                border-radius: 30px;
                padding:5%;
            
        
            .blocks-gallery-item
            {
                margin: 0 auto;
                width: 80%;
                margin-left:5%;
                margin-bottom:5%;
    
                img
                {
                    width: 250px;
                    width: 250px;
                   border-radius: 20px;
                 
                }
                figcaption{
                    border-radius: 20px; 
                }
            }
    
    
    
    
           
    
            }
        
        
        }
        
        .wp-block-group{
        
        }
        
        #secondary{
            margin-top:10%;
        }
        
        }
        
    
    
    
    
    //////////////////////////FORMAT MOBILE////////////////////////////////////////////////
    
    
    
    
    @include mobile{
    
        .wp-block-group__inner-container
        {
           
       
          
        
        
            .blocks-gallery-grid 
            {
    
                display: grid;
                width: 100%;
                background-color: rgba(165, 165, 165, 0.35); 
                border-radius: 30px;
             
            
        
            .blocks-gallery-item
            {
                margin: 0 auto;
                padding-top:5%;
                padding-bottom:5%;
                img
                {
                   border-radius: 20px;
                   width: 250px;
                   height: 250px;
                }
                figcaption{
                    border-radius: 20px; 
                }
            }
            }
        
        
        }
        
        .wp-block-group{
        
        }
        
        
        
        }
    
    
    
    
    
    
    
    ///////////////////////TOUT LES FORMATS////////////////////////////////////////////////////
    
    .blocks-gallery-grid:hover {
        transform: translateY(0);
        box-shadow:
            inset 0 0 60px whitesmoke,
            inset 20px 0 80px #f0f,
            inset -20px 0 80px #0ff,
            inset 20px 0 300px #f0f,
            inset -20px 0 300px #0ff,
            0 0 50px #fff,
            -10px 0 80px #f0f,
            10px 0 80px #0ff;
    }
    
    
    
    