.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			text-decoration: none;
			list-style: none;
			justify-content: space-around;
			margin:20px;

			ul {
				left: -999em;
				top: 0;
				text-decoration: none;
				list-style: none;
				justify-content: space-around;
				margin:20px;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				text-decoration: none;
				justify-content: space-between;
				margin: 20px;
				color: white;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
		justify-content: space-between;
		margin: 20px;
		color: white;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


.site-title h1 {
	margin: 0 auto;
	color: white;
	font-size:3em;
	font-family: ethnocentric;
	list-style: none;
}

h1 a{
text-decoration: none;
}

.main-navigation ul{
	list-style: none;
	text-decoration: none;
	//justify-content: space-around;
	//padding-top:400px;
	justify-content:space-between;
	color:white;
	margin-left:20px;
	margin-right:20px;
	padding-left:380px;
	padding-right:380px;
	font-size: 2em;
}


/*.main-navigation ul
{
	list-style:none;
	text-decoration:none;
	padding-top:100px;
	justify-content:space-between;
	color:white;
	margin-left:20px;
	margin-right:20px;
	padding-left:380px;
	padding-right:380px;
	color:white;
}*/

h1 a
{
	display:flex;
	text-decoration:none;
	justify-content:center;
	margin-top:280px;
	font-size:1.2em;

}

