/*.main-navigation {
	display: block;
	width: 100%;
	text-decoration: none;
	
	ul {
		display: none;
		margin: 0;
		padding-left: 0;
		list-style: none;
        text-decoration: none;
        justify-content: space-around;
        padding-top:400px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			text-decoration: none;
			list-style: none;
			justify-content: space-around;
			margin:20px;

			ul {
				left: -999em;
				top: 0;
				text-decoration: none;
				list-style: none;
				justify-content: space-around;
				margin:20px;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				text-decoration: none;
				justify-content: space-between;
				margin: 20px;
				color: white;
			}

			/*:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}*/

	/*li {
		position: relative;

		/*&:hover > a,
		&.focus > a {
		}
	}*/

	/*a {
		display: block;
		text-decoration: none;
		
	}*/

	/*.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}*/
/*}*/

/* Small menu. */
/*.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}*/


/////////////////////// MON CODE NAV ET TITRE /////////////////////////////
   
.main-navigation ul
{
	display: flex;
	list-style:none;
	text-decoration:none;
	padding-top:0px;
	justify-content:space-around;
	align-content: center;
	
	
	
}

.site-title a
{
	display:flex;
	text-decoration:none;
	justify-content:center;
	font-size:3.2em;

}


.fleche
{
	display: flex;
	margin-top: 10%;
	margin-bottom: 10%;
	justify-content: center;
	margin-left:48%;
   }

   
   .logoM9{
	  background-image: url(logoMaisonneuve.jpeg);
   }





   ///////////Essai////////////////

   .main-navigation {
	display: block;
	width: 100vw;
	

	ul {
		display: none;
		position : absolute;
		width : 100%;
		list-style: none;
		margin: 0;
		padding-left: 0;
		text-align : left;
		z-index: 99999;
		ul {
			
			float: left;
			position: absolute;
			top: 100%;
			transition : left .5s;
			left: -999em;
			z-index: 99999;

			li {
				a{
				padding-left : 20px;
				}
			}

			a {
				width: 100%;
			}
		} /* fin du sub-menu */

		li:hover > ul,
		li.focus > ul {
			left: 0;
		
		}
		li {
			position: relative;
		}


		a[href='#']::after {
			position : absolute;
			content : "+";
			width: 100%;
			height: 100%;
			top:0;
			bottom: 0;
			left :90%;
			right:0;
		}
		li.focus a[href='#']::after,
		a[href='#']:hover::after
		{
			content : "-";
		}


	}



	a {
		display: block;
		text-decoration: none;
		padding: .5rem;
	}




	
}
/* -----------------------------------------------------------------------------
Bouton burger 
------------------------------------------------------------------------------*/
.menu-toggle {
	padding :0;
//	transition : transform .25s;
//	transform : rotate(0deg);
	border : 0;

	
}
.menu-toggle:hover,
.menu-toggle:focus {
    background: #fafbfc;
}

.menu-toggle:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

.menu-toggle:active {
    transform: scale(0.99);
}

/*
.main-navigation.toggled .menu-toggle{
	transform : rotate(90deg);
}
*/

.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}
/* ---------------------------------------------------------------------------
menu tablet
------------------------------------------------------------------------------ */
@media screen and (min-width: 37.5em) {

	

	.essai1{
		display:none;
	}
	.line {
		display: none;
	  }
	  .line1 {
		display: none;
	  }
	  .line2 {
		display: none;
	  }
	  .line3 {
		display:none;
	  }
	.main-navigation.toggled ul,
	.main-navigation ul {
		display: flex;
		//position : static;
		justify-content: space-around;
		a[href='#']::after{
			display : none;
		}

		li:hover ul{
			display :flex;
			flex-direction: column;
			justify-content: flex-start;
			width : 400px;
			animation : anim-sous-menu .5s both;
		}

	ul {
		display : none;
		
	}	


	}

}

@keyframes anim-sous-menu {
	0%{
		opacity : 0;
		transform : translateX(0) translateY(100px);
	}
	100%{
		opacity: 1;
		transform : translateX(0) translateY(0);
	}
}





.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}



  
	
  
  
	/* --------------------------------------------------------------------------------------
  Les variables 
  ---------------------------------------------------------------------------------------- */
  /*---------------------------------------------------------------------------------------
  Le bouton burger
  ----------------------------------------------------------------------------------------- */
  
  
  .menu-toggle {
	background-color: transparent;
	border: none;
	cursor: pointer;
	display: flex;
	padding: 0;

	
  }
  .line {
	fill: none;
	stroke: black;
	stroke-width: 6;
	transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
	  stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
  }
  .line2 {
	stroke-dasharray: 60 60;
	stroke-width: 6;
  }
  .line3 {
	stroke-dasharray: 60 207;
	stroke-width: 6;
  }
  .opened .line1 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
  }
  .opened .line2 {
	stroke-dasharray: 1 60;
	stroke-dashoffset: -30;
	stroke-width: 6;
  }
  .opened .line3 {
	stroke-dasharray: 90 207;
	stroke-dashoffset: -134;
	stroke-width: 6;
  }
  
  
  @include mobile{
	.fleche{
		display: none;
	}
}

@include tablet{
#site-navigation button{
	display: none;
	background:transparent;
}
}

@include desktop{
	#site-navigation button{
		display: none;
		background:transparent;
}
}
