.main-navigation {
	display: block;
	width: 100%;
	text-decoration: none;
	
	ul {
		display: none;
		margin: 0;
		padding-left: 0;
		list-style: none;
        text-decoration: none;
        justify-content: space-around;
        padding-top:400px;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;
			text-decoration: none;
			list-style: none;
			justify-content: space-around;
			margin:20px;

			ul {
				left: -999em;
				top: 0;
				text-decoration: none;
				list-style: none;
				justify-content: space-around;
				margin:20px;
			}

			li {

				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
				text-decoration: none;
				justify-content: space-between;
				margin: 20px;
				color: white;
			}

			/*:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}*/
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		/*&:hover > a,
		&.focus > a {
		}*/
	}

	a {
		display: block;
		text-decoration: none;
		
	}

	/*.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}*/
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {

	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}


/////////////////////// MON CODE NAV ET TITRE /////////////////////////////
   
.main-navigation ul
{
	display: flex;
	list-style:none;
	text-decoration:none;
	padding-top:0px;
	justify-content:space-around;
	align-content: center;
	
	
	
}

.site-title a
{
	display:flex;
	text-decoration:none;
	justify-content:center;
	font-size:3.2em;

}


.fleche
{
	margin-top: 5%;
	margin-left: 48%;
   }

   
   .logoM9{
	  background-image: url(logoMaisonneuve.jpeg);
   }




 
